application:
  name: familie-dokument
server:
  port: 8082
  servlet:
    context-path: /

spring:
  main.banner-mode: "off"
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 21MB

management:
  endpoint.health.show-details: always
  endpoints.web:
    exposure.include: info, health, metrics, prometheus
    base-path: "/internal"
    path-mapping:
      info: "status/isAlive"
  prometheus.metrics.export.enabled: true

attachment.max.size.mb: 20
storage_service.timeout.ms: 3000

CLAM_AV_VIRUS_URL: http://clamav.nais-system

cors:
  allowed_origins:
    - "https://familie-ef-soknad.nais.oera.no"
    - "https://www.nav.no"
    - "https://familie-ef-soknad-api.nais.oera.no"
    - "https://familie-ba-sak.nais.adeo.no"
    - "https://familie-ba-soknad-api.nais.oera.no"
    - "https://familie-brev.intern.nav.no"
    - "https://familie-ef-blankett.intern.nav.no"

gcp.storage.bucketname: ${GCP_STORAGE_BUCKETNAME}